@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;  /* 세로축 스크롤바 길이 */
    height: 0px;  /* 가로축 스크롤바 길이 */
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.3);
    width: 10px;
    // border-left: 0px solid transparent;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: content-box;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    width: 8px;
    height: 32px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px;
  }
  ::-webkit-scrollbar-button {
    background-color: transparent;
    width: 4px;
    height: 0px;
  }
  ::-webkit-scrollbar-button:start {
    background-color: transparent; /* Top, Left 방향의 이동버튼 */
  }
  ::-webkit-scrollbar-button:end {
    background-color: transparent; /* Bottom, Right 방향의 이동버튼 */
  }
//   ::-webkit-scrollbar-button:vertical:increment {
//   }
//   ::-webkit-scrollbar-button:vertical:decrement {
//   }
  ::-webkit-scrollbar-corner {
    background-color: transparent; /* 우측 하단의 코너 부분 */
  }
  ::-webkit-resizer {
    background-color: transparent;
  }

.sidebar-nav .nav-title {
    display: flex;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
  }
}


.bg-nav-title {
  color: rgba(255, 255, 255, 0.5);
}




